<!DOCTYPE html>
<html>
    <head>
        <title>Camera</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div class="tabs">
            <a href="home"><button>Home</button></a>
            <a href="stats"><button>Stats</button></a>
            <a href="camera"><button>Camera</button></a>
        </div>
        <div class="page">
        
        <p>This is the camera page</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        </div>
    </body>
</html>