<!DOCTYPE html>
<html>
    <head>
        <title>Calorie Counter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>
        <div class="tabs">
            <a href="home"><button>Home</button></a>
            <a href="stats"><button>Stats</button></a>
            <a href="camera"><button>Camera</button></a>
        </div>
        <div class="page">
        <p>This the home page for the home</p>
        </div>
        <div>

        </div>
    </body>
</html>