<!DOCTYPE html>
<html>
    <head>
        <title>Stats</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>
        <div class="tabs">
            <a href="home"><button>Home</button></a>
            <a href="stats"><button>Stats</button></a>
            <a href="camera"><button>Camera</button></a>
        </div>
        <div class="page">
            <button id="refreshStatsBtn">Refresh</button>
        </div>
        <div id="classificationResult"></div>
        <script>
            async function refreshStats(){
                try {
                    resultContainer = document.getElementById('classificationResult');
                    resultContainer.innerHTML = '<div class="loading">Loading statistics...</div>';
                    const calRes = await fetch('/load_statistics', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: 'yo we did it'
                    });
                    const statsJson = await calRes.json();
                    k = 0;
                    while (true){
                        if (k.toString() in statsJson){
                            console.log('k = '+k.toString());
                        }
                        else{
                            break;
                        }
                        calData = statsJson[k.toString()];
                        if (calData.success) {
                            const nutrition = calData.nutrition;
                            resultContainer.innerHTML += `
                                <div class="calorie-info">
                                    <p><strong>Calories:</strong> ${nutrition.calories || '--------'} kcal</p>
                                    <p><strong>Info:</strong> ${nutrition.summary || '---------'}</p>
                                    ${nutrition.image ? `<img src="${nutrition.image}" style="max-width: 200px; border-radius: 8px;">` : ''}
                                    <p><strong>Time:</strong> ${calData.timestamp || 'Time not found'}</p>
                                </div>
                            `;
                        } else {
                            resultContainer.innerHTML += `<p class="error">Calorie info unavailable: ${calData.error}</p>`;
                        }
                        k += 1
                    }

                } catch (error) {
                    console.error('Error classifying food:', error);
                    resultContainer.innerHTML = `
                        <div class="classification-error">
                            <h4>Classification Failed</h4>
                            <p>Error: ${error.message}</p>
                        </div>
                    `;
                } 
            }
            refreshStatsBtn.addEventListener('click', refreshStats);
        </script>
        
    </body>
</html>